<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <firstsection>
            <firstgroup>
                <firstfield>This is default value</firstfield>
               <secondfield>1</secondfield>
               <thirdfield>3</thirdfield>
               <forthfield>1</forthfield>
            </firstgroup>
        </firstsection>
    </default>
</config>